@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.animate-fade-in {
    animation: fadeIn 1s ease-out forwards
}

.toast-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 50
}

.toast {
    animation: slideIn 0.5s ease-out forwards
}

.toast.hide {
    animation: slideOut 0.5s ease-in forwards
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0
    }

    to {
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1
    }

    to {
        transform: translateX(100%);
        opacity: 0
    }
}

.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background: rgb(255 255 255 / .3);
    animation: progress 10s linear forwards
}

@keyframes progress {
    from {
        width: 100%
    }

    to {
        width: 0%
    }
}



